html{
    font-size:100px;
}
.content{
    width:6.4rem;
    height:9rem;
    background:url(../img/indexbg.jpg) top left;
    background-size:6.4rem auto;
}
.contnet>section{
    width:5.4rem;
    margin:0.3px 0.5px;
}